{% extends "base.html" %}
{% load i18n %}
{% block page %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
        <div class="well bs-component">
            <legend>{% trans "Create Announcement" %}</legend>
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-lg-2 control-label">{{ field.label }}</label>
                        <div class="col-lg-8">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    {% for field in form %}
    $(document).ready(function(){
        $("#{{ field.id_for_label }}").addClass("form-control");
    });
    {% endfor %}
</script>
{% endblock %}