{% extends "base.html" %}
{% load i18n %}

{% block page %}
    {% if not user.is_authenticated %}
        <p><a href="{% url "tjadmin_login" %}">login</a> </p>
    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 center-block">
                <div class="well bs-component">
                    <legend>{% trans "Super User" %}</legend>
                    <h5>Come with three super powers</h5>
                    <a class="btn btn-primary btn-raised" href="{% url "tjadmin_create_student" %}">{% trans "Create Student" %}</a>
                    <a class="btn btn-primary btn-raised" href="{% url "tjadmin_upload_student" %}">{% trans "Upload Student List" %}</a>
                    <a class="btn btn-primary btn-raised" href="{% url "tjadmin_create_announcement" %}">{% trans "Create Announcement" %}</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}