{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <main class='vignette'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">

      <title>Tongji Innovation Management System</title>

      <!-- Bootstrap core CSS -->
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/material/css/roboto.min.css" rel="stylesheet">
      <link href="/static/material/css/material.min.css" rel="stylesheet">
      <link href="/static/material/css/ripples.min.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="/static/signin.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <div class="container">
        <div class="well well-lg">
          <div class="form-group">
            <form action="." method="post" class="form-signin">
                 {% csrf_token %}
              <h1 class="form-signin-heading">{% trans "Tongji University" %}</h1>
              <h3 class="form-signin-subheading">{% trans "Innovation Management System" %}</h3>
              <div id="idNumberGroup" class="form-group has-error">
                <input name="student_id" type="text" id="inputIdNumber" class="form-control floating-label" placeholder="{% trans "ID Number" %}" required autofocus>
              </div>
              <br>
              <div id="passwordGroup" class="form-group has-error">
                <input name="password" type="password" id="inputPassword" class="form-control floating-label" placeholder="{% trans "Password" %}" required>
              </div>
              <div class="checkbox">
                <label>
                  <input name="remember_me" type="checkbox" value="true"> {% trans "Remember me" %}
                </label>
              </div>
               <div class="radio radio-inline ">
                    <label><input type="radio" checked="checked" name="language" value="zh-cn">中文</label>

                  <label><input type="radio" name="language" value="en">English</label>
                </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
            </form>
          </div>
        </div>
      </div> <!-- /container -->

      <script src="/static/bootstrap/js/jquery.min.js"></script>
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/material/js/ripples.min.js"></script>
      <script src="/static/material/js/material.min.js"></script>
      <script>
          $(document).ready(function() {
              // This command is used to initialize some elements and make them work properly
              $.material.init();
          });
      </script>
    </body>
  </main>
</html>
