{% extends "base.html" %}
{% load i18n %}
{% block page %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
        <div class="well bs-component">
            <legend>Announcement</legend>
            <div class="panel-group">
                {% for announcement in object_list %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><i class="mdi-action-assignment"></i>&nbsp;&nbsp;<a href="{{ announcement.url }}">{{ announcement }}</a></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}