{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <title>Tongji Innovation Management System - Student Portal</title>
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/material/css/roboto.min.css" rel="stylesheet">
        <link href="/static/material/css/material.min.css" rel="stylesheet">
        <link href="/static/material/css/ripples.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/base.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">{% trans "Tongji Innovation Management System"%}</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url "create_proposal" %}">{% trans "Proposals" %}</a></li>
                        <li><a href="{% url "announcement_list" %}">{% trans "Announcement" %}</a></li>
                        {% if user.is_superuser %}
                        <li><a href="{% url "search_list" %}">{% trans "Search" %}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if not user.is_superuser %}
                                <li><a href="{% url "profile" %}">{% trans "Profile" %}</a></li>
                                {% endif %}
                                <li><a href="{% url "setting" %}">{% trans "Account Settings" %}</a></li>
                                {% if user.is_superuser %}
                                <li><a href="{% url "superuser" %}">{% trans "Super User" %}</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url "logout" %}">{% trans "Log Out" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if LANGUAGE_CODE == 'en' %}
                        <li><a href="{% url "language_switch" %}?code=zh-cn&next={{ request.get_full_path }}">中文</a></li>
                        {% endif %}
                        {% if LANGUAGE_CODE == 'zh-cn' %}
                        <li><a href="{% url "language_switch" %}?code=en&next={{ request.get_full_path }}">English</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block page %}
        {% endblock page %}
    </body>

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/bootstrap/js/ie-emulation-modes-warning.js"></script>
</html>