{% extends "base.html" %}
{% load i18n %}

{% block page %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="well bs-component">
                <legend>{% trans "Leading Project" %}</legend>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for lp in leading_project%}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#lp{{ forloop.counter }}" aria-expanded="false" aria-controls="lp{{ forloop.counter }}">
                                    {{ lp }}
                                    <div class="icon-preview pull-right">
                                        <i class="mdi-content-add-circle-outline"></i>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="lp{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            
                                            <li>Leader: {{ lp.leader }}</li>
                                            <li>
                                                Member: 
                                                <ol>
                                                    {% for mem in lp.members.all %}
                                                    <li>{{ mem }}</li>
                                                    {% endfor %}
                                                </ol>
                                            </li>
                                            <li>Teacher: {{ lp.teacher }}</li>
                                            <li>Type: {{ lp.get_type_display }}</li>
                                            <li>Description: {{ lp.description }}</li>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well bs-component">
                <legend>{% trans "Involved Project" %}</legend>
                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    {% for ip in involved_project%}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <div class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#ip{{ forloop.counter }}" aria-expanded="false" aria-controls="ip{{ forloop.counter }}">
                                    {{ ip }}
                                    <div class="icon-preview pull-right">
                                        <i class="mdi-content-add-circle-outline"></i>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="ip{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <li>Leader: {{ ip.leader }}</li>
                                            <li>
                                                Member: 
                                                <ol>
                                                    {% for mem in ip.members.all %}
                                                    <li>{{ mem }}</li>
                                                    {% endfor %}
                                                </ol>
                                            </li>
                                            <li>Teacher: {{ ip.teacher }}</li>
                                            <li>Type: {{ ip.get_type_display }}</li>
                                            <li>Description: {{ ip.description }}</li>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}