{% extends "base.html" %}
{% load i18n %}

{% block page %}
<h1>this is the homepage</h1>

 {% if not user.is_authenticated %}
       <p><a href="{% url "login" %}">Login</a></p>

    {% else %}
     <p>name: {{ user.first_name }}</p>
     <p>id: {{ user.username }}</p>
     <p><a href="{% url "create_proposal" %}">create proposal</a></p>
     <p>already Loged in</p>
        <p><a href="{% url "logout" %}">logout</a></p>
     <h3>Leading project</h3>
     {% for lp in leading_project%}
        <p><a href="{{ lp.get_absolute_url }}">{{ lp }}</a></p>
     {% empty %}
         None
     {% endfor %}

      <h3>Involved project</h3>
     {% for ip in involved_project%}
       <p><a href="{{ ip.get_absolute_url }}"> {{ ip }}</a></p>
     {% empty %}
         None
     {% endfor %}



    {% endif %}




{% endblock %}