{% extends "base.html" %}
{% load i18n %}

{% block page %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="well bs-component">
                <legend>{% trans "Leading Project" %}</legend>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for lp in leading_project%}
                    <div class="panel panel-default" id="post-{{lp.id}}">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#lp{{ forloop.counter }}" aria-expanded="false" aria-controls="lp{{ forloop.counter }}">
                                    {{ lp }}
                                    <div class="icon-preview pull-right">
                                        <i class="mdi-content-add-circle-outline"></i>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="lp{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <form action="." method="post" class="form-horizontal">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label for="id_leader" class="col-md-4 control-label">Leader</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" id="id_leader" value="{{ lp.leader }}">
                                                        </div>
                                                        <label for="id_leader" class="col-md-4 control-label">Teacher</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" id="id_leader" value="{{ lp.teacher }}">
                                                        </div>
                                                        <label for="id_leader" class="col-md-4 control-label">Type</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" id="id_leader" value="{{ lp.get_type_display }}">
                                                        </div>
                                                        <label for="id_leader" class="col-md-4 control-label">Description</label>
                                                        <div class="col-md-8">
                                                            <textarea class="form-control" rows="3" id="description-{{ lp.id }}">{{ lp.description }}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <button id="update-{{ lp.id }}"  class="btn btn-primary">{% trans "Update" %}</button>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <button id="delete-{{ lp.id }}" class="btn btn-danger">{% trans "Delete" %}</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well bs-component">
                <legend>{% trans "Involved Project" %}</legend>
                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    {% for ip in involved_project%}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <div class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#ip{{ forloop.counter }}" aria-expanded="false" aria-controls="ip{{ forloop.counter }}">
                                    {{ ip }}
                                    <div class="icon-preview pull-right">
                                        <i class="mdi-content-add-circle-outline"></i>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="ip{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <li>Leader: {{ ip.leader }}</li>
                                            <li>
                                                Member: 
                                                <ol>
                                                    {% for mem in ip.members.all %}
                                                    <li>{{ mem }}</li>
                                                    {% endfor %}
                                                </ol>
                                            </li>
                                            <li>Teacher: {{ ip.teacher }}</li>
                                            <li>Type: {{ ip.get_type_display }}</li>
                                            <li>Description: {{ ip.description }}</li>
                                            <a id='delete-post'>delete me</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/main.js"></script>
{% endblock %}