{% extends "base.html" %}
{% load i18n %}


{% block page %}
<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 center-block">
        <div class="well bs-component">

        <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
    	<fieldset>
        <legend>{% trans 'New Proposal' %}</legend>

            {% for field in form %}
                <div class="form-group">
            <label for="{{ field.id_for_label}}" class="col-lg-2 control-label">{{ field.label }}</label>
            <div class="col-lg-8">
                {{ field }}
            </div>
        </div>
            {% endfor %}


{##}
{#        <div class="form-group">#}
{#            <label for="{{ form.title.id_for_label}}" class="col-lg-2 control-label">{% trans "Proposal Title" %}</label>#}
{#            <div class="col-lg-10">#}
{#                <input type="text" class="form-control" id="inputProposalName" placeholder="Proposal Name">#}
{#                {{ form.title }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="{{ form.leader.id_for_label}}" class="col-lg-2 control-label">{% trans "Leader" %}</label>#}
{#            <div class="col-lg-10">#}
{#                {{ form.leader }}#}
{#                <input type="text" class="form-control" id="inputLeader" placeholder="Leader">#}
{#            </div>#}
{#            <label for="{{ form.member1.id_for_label}}" class="col-lg-2 control-label">{% trans "Member" %}</label>#}
{#            <div class="col-lg-10">#}
{#                <input type="text" class="form-control" id="inputMemberOne" placeholder="Member">#}
{#                {{ form.member1 }}#}
{#            </div>#}
{#            <label for="{{ form.member2.id_for_label}}" class="col-lg-2 control-label">{% trans "Member" %}</label>#}
{#            <div class="col-lg-10">#}
{#                <input type="text" class="form-control" id="inputMemberTwo" placeholder="Member">#}
{#                {{ form.member2 }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="{{ form.type.id_for_label }}" class="col-lg-2 control-label">{% trans "Type" %}</label>#}
{#            <div class="col-lg-10">#}
{#                {{ form.type }}#}
{#                <select class="form-control" id="select">#}
{#                    <option>School-level students ' science and technology innovation project</option>#}
{#                    <option>University-level students ' science and technology innovation project</option>#}
{#                    <option>Province-level students ' science and technology innovation project</option>#}
{#                    <option>Nation-level students ' science and technology innovation project</option>#}
{#                </select>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#        	<label for="inputInstructor" class="col-lg-2 control-label">{% trans "Instructor" %}</label>#}
{#        	<div class="col-lg-10">#}
{#                <input type="text" class="form-control" id="inputInstructor" placeholder="Instructor">#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="{{ form.description.id_for_label }}" class="col-lg-2 control-label">{% trans "Description" %}</label>#}
{#            <div class="col-lg-10">#}
{#                <textarea class="form-control" rows="3" id="textArea"></textarea>#}
{#                {{ form.description }}#}
{#                <span class="help-block">Enter some descriptions of your project here.</span>#}
{#            </div>#}
{#        </div>#}
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" >{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
        </div>
    	</fieldset>
		</form>
        </div>
		</div>
		</div>
{% endblock %}