{% extends "base.html" %}
{% load i18n %}

{% block page %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
        <div class="well bs-component">
            <legend>{% trans "Project List" %}</legend>
            <div class="row">
                <form method="get">
                    <div class="col-md-2">
                        Filter by type:
                        <select name="type" id="filter-type">
                            <option value="ALL">All</option>
                        {% for type in type_option %}
                            <option value="{{ type.0 }}">{{ type.1 }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </form>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div id="filter_results"></div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/main.js"></script>
{% endblock %}