{% extends "base.html" %}
{% load i18n %}

{% block page %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
        <div class="well bs-component">
            <legend>{% trans "Statistics" %}</legend>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div id="pieChart" align="center"></div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
                <script src="/static/js/d3pie.min.js"></script>
                <script>
                var pie = new d3pie("pieChart", {
                    "header": {
                        "title": {
                            "text": "Tongji Student Project",
                            "fontSize": 24,
                            "font": "open sans"
                        },
                        "subtitle": {
                            "text": "A pie chart to show the statistics of all the project",
                            "color": "#999999",
                            
                            "font": "open sans"
                        },
                        "titleSubtitlePadding": 9
                    },
                    "footer": {
                        "color": "#999999",
                        "fontSize": 10,
                        "font": "open sans",
                        "location": "bottom-left"
                    },
                    "size": {
                        "canvasWidth": 590,
                        "pieOuterRadius": "90%"
                    },
                    "data": {
                        "sortOrder": "value-desc",
                        "content": [
                            {
                                "label": "{% trans "PENDING" %}",
                                "value": {{p_stats}},
                                "color": "#777"
                            },
                            {
                                "label": "{% trans "APPROVED" %}",
                                "value": {{a_stats}},
                                "color": "#4caf50"
                            },
                            {
                                "label": "{% trans "REJECTED" %}",
                                "value": {{r_stats}},
                                "color": "#f44336"
                            }
                        ]
                    },
                    "labels": {
                        "outer": {
                            "format": "label-value2",
                            "pieDistance": 32
                        },
                        "inner": {
                            "hideWhenLessThanPercentage": 3
                        },
                        "mainLabel": {
                            "fontSize": 13
                        },
                        "percentage": {
                            "color": "#ffffff",
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#adadad",
                            "fontSize": 13
                        },
                        "lines": {
                            "enabled": true
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "speed": 400,
                            "size": 8
                        }
                    },
                    "misc": {
                        "gradient": {
                            "enabled": true,
                            "percentage": 100
                        }
                    }
                });
                </script>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/main.js"></script>
{% endblock %}